.ultraExterior {
  background-color: #eaeded;
}

.exterior {
  display: flex;
  background-color: #eaeded;
  min-height: 100vh;
  /* padding-top: 3rem; */
}

.container {
  display: flex;
  padding: 20px;
  font-family: Arial, sans-serif;
  background-color: #eaeded;
  flex-direction: column;
  flex: 1;
}

.header {
  text-align: center;
  margin-bottom: 30px;
}

.header h1 {
  color: black;
}

.header p {
  margin: 10px 0;
}

.orderInfo {
  position: relative;
  margin: 20px 0;
  font-weight: bold;
  word-wrap: break-word;
}

.orderDetails {
  border-top: 1px solid #ddd;
  padding-top: 20px;
}

.orderDetails h2 {
  margin-top: 0;
}

.product {
  display: flex;
  margin: 20px 0;
}

.productName {
  position: absolute;
  top: 0;
  margin-top: 1rem;
  background-color: #f9f9f9;
}

.productNameMobile {
  position: absolute;
  top: 0;
  margin-top: 1rem;
  background-color: #f9f9f9;
}

.productImage {
  margin-right: 20px;
  border-radius: 5px;
}

.productDetails {
  flex-grow: 1;
}

.productLink {
  color: #0070f3;
  text-decoration: none;
}

.productLink:hover {
  text-decoration: underline;
}

.customerInfo {
  margin-top: 30px;
}

.customerInfo h3 {
  margin-bottom: 10px;
}

.customerInfo {
  margin: 0 0 10px 0;
}

.summary {
  border-top: 1px solid #ddd;
  padding-top: 20px;
}

.backdrop {
  z-index: 1300;
  color: #fff;
}

.summary {
  float: left;
  clear: left;
  width: 150px;
  font-weight: bold;
}

.imageContainer {
  position: relative;
  width: 200px;
  height: 200px;
}

.imageContainerMobile {
  position: relative;
  width: 120px;
  height: 120px;
}